<div #blueprint class='page-wrapper'>
    <page-header />

    <div class="toolbar">

        <div (click)="toggleSide()">
            <span class="material-symbols-outlined">360</span>
        </div>

        <div (click)="toggleSex()">
            <span class="material-symbols-outlined">
                {{ currentSex === 'male' ? 'female' : 'male' }}
            </span>
        </div>

        <div (click)="toggleRegionSelection()">
            <span class="material-symbols-outlined">
                {{ allRegionsSelected ? 'deselect' : 'select_all' }}
            </span>
        </div>

    </div>

    <editor-overlay [sourceOptions]="sourceOptions" [relationshipOptions]="relationshipOptions"
        [selectedCount]="selectedRegions.size" [(expanded)]="editorExpanded" (save)="saveRelationships()">
    </editor-overlay>

    <anatomia [regions]="regions" [viewBox]="viewBox" [transform]="transform" [selectedIds]="selectedRegions"
        (regionClicked)="onRegionClicked($event)" />

</div>