# -----------------------------
# GLOBAL / OS
# -----------------------------
.DS_Store
Thumbs.db
Desktop.ini

# -----------------------------
# IDEs
# -----------------------------
# IntelliJ
.idea/
*.iml

# Visual Studio
.vs/
*.user
*.suo
*.ncb
*.opendb
*.VC.db

# VSCode
.vscode/

# -----------------------------
# BUILD OUTPUTS
# -----------------------------
bin/
obj/
build/
out/
dist/
Debug/
Release/

# -----------------------------
# SSIS / SSDT SPECIFIC
# -----------------------------
*.dtproj.user
*.dtproj.*
*.deploymentconfig
*.database
*.manifest
*.local
*.cache
*.tmp

# -----------------------------
# SQL SERVER / DB PROJECTS
# -----------------------------
*.dbmdl
*.dbproj.user
*.sqlproj.user

# -----------------------------
# KOTLIN / GRADLE
# -----------------------------
.gradle/
*.kts~
