.muscle-list {

    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.muscle-menu-item-row {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    background: transparent;
}

.muscle-menu-item-row.animating {
    transition: transform 180ms ease;
}

.muscle-menu-item-title {

    color: white;
    margin-inline: 25px;
}

.muscle-menu-item-description {

    color: white;
    opacity: 0.6;
    margin-inline: 25px;
}

.material-symbols-outlined {
    margin-right: 25px;
}