<page-wrapper>
    <div class="muscle-list">
        @for (muscle of muscles(); track muscle.id) {
        <div class="muscle-menu-item-row">
            <div class="muscle-menu-item-text">
                <div class="muscle-menu-item-title">
                    {{ muscle.name }}
                </div>

                <div class="muscle-menu-item-description">
                    {{ muscle.description }}
                </div>
            </div>

            <div class="material-symbols-outlined">
                settings
            </div>
        </div>
        }
    </div>
</page-wrapper>

<ng-content />