<div class="editor-overlay">
    <div class="editor-content">

        <editor-select label="relationship" placeholder="select relationship" [options]="relationshipOptions"
            [value]="selectedRelationship" (valueChange)="relationshipChanged($event)">
        </editor-select>

        <editor-select label="source" placeholder="select source" [options]="sourceOptions" [value]="selectedSource"
            (valueChange)="sourceChanged($event)">
        </editor-select>

        <div class="editor-footer">
            <div class="selection-count">

                <span class="material-symbols-outlined">
                    check_circle
                </span>
                {{ selectedCount }}
                {{ selectedCount === 1 ? 'selection' : 'selections' }}
            </div>

            <div class="save-button" (click)="onSave()">
                save
            </div>
        </div>
    </div>
</div>