<div #container class="flex-column" style="position: relative;">
    <div class="editor-select-button flex-row" [class.expanded]="expanded" [class.disabled]="disabled"
        (click)="toggle()">
        <span class="editor-select-value" [class.disabled]="disabled">
            {{ selectedLabel }}
        </span>
        <div class="material-symbols-outlined editor-select-icon" [class.active]="!disabled" [class.disabled]="disabled">
            keyboard_arrow_down
        </div>
    </div>
    @if (expanded) {
    <div class="flex-column editor-select-dropdown">
        @for (option of options; track option.id) {
        <div class="flex-column editor-select-option" [class.selected]="isSelected(option)"
            (click)="select(option)">
            {{ option.label }}

            @if (option.description !== '') {
            <div class="label option">
                {{ option.description }}
            </div>
            }
        </div>
        }
    </div>
    }
</div>