<div #container class="editor-select">
    <label class="editor-select-label">
        {{ label }}
    </label>
    <button type="button" class="editor-select-button" [class.expanded]="expanded" (click)="toggle()">
        <span class="editor-select-value">
            {{ selectedLabel }}
        </span>
        <span class="material-symbols-outlined editor-select-icon">
            keyboard_arrow_down
        </span>
    </button>
    @if (expanded) {
    <div class="editor-select-dropdown">
        @for (option of options; track option.value) {
        <button type="button" class="editor-select-option" [class.selected]="isSelected(option)"
            (click)="select(option)">
            {{ option.label }}
        </button>
        }
    </div>
    }
</div>