<div #atriumDateSwipeContainer class="atrium-date-swipe-container" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()">

    <div class="atrium-card-stack" [class.animating]="isAnimating"
        [style.transform]="stackTransform">

        @for (page of pages; track trackByDate($index, page)) {

        <div class="atrium-card">
            <div class="atrium-date-content">

                {{ page | longDate }}
            </div>
        </div>
        }

    </div>
</div>