.return-button {
    position: fixed;
    top: max(16px, env(safe-area-inset-top));
    left: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1000;
}

.material-symbols-outlined {

    color: white;
    font-size: 32px;
}